@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

h1{
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1{
    color: aqua;
}