h1{
    text-align: center;
}
section{
    width: 50%;
    margin: auto;
    text-align: center;
}
img{
    height: 30%;
    width: 30%;
}
ul{
    width: 40px;
    margin: auto;
    list-style: none;
}
li{
    height: 30px;
    width: 40px;
    border: 1px solid black;
}
#light-blue{
    background: rgb(173, 216, 230);
}
#light-gray{
    background: rgb(211, 211, 211);
}
#salmon{
    background: rgb(250, 128, 114);
}
#seagreen{
    background: rgb(32, 178, 170);
}